<h1 style="color:red">Day 10 of #100daysofcodingchallenge </h1><br>
Date:20-01-2021<br>

# LISTS

<p><pre style="font-size:18px;color:midnightblue">A list is an ordered sequence of zero or more object references. Lists support
the same slicing and striding syntax asstrings and tuples. This makes it easy
to extract items from a list. Unlike strings and tuples, lists are mutable, so we
can replace and delete any of their items. It is also possible to insert, replace,
and delete slices of lists.</pre></p>

### CREATING LISTS

<p><pre style="font-size:18px;color:blue">The list data type can be called as a function,<b style="font-size:18px;color:black"> list()</b>
with no arguments it returns an empty list</pre></p>

In [5]:
list()

[]

In [6]:
a='book by Gireesh'
b=list(a)

In [7]:
#if we pass a string as an argument it creates a list of characters of that string including spaces 
#and it can also contain duplicates
b

['b', 'o', 'o', 'k', ' ', 'b', 'y', ' ', 'G', 'i', 'r', 'e', 'e', 's', 'h']

<b><pre>Lists are mutable ordered containers of other objects. They support all the features
of the Tuple but as they are mutable it is also possible to add elements to a List,
remove elements and modify elements. The elements in the list maintain their order
(until modified).</pre></b>
<img src="https://i.imgur.com/MobjPwZ.jpg">

In [8]:
type(a)

str

In [9]:
type(b)

list

we have made lists using list() function now lets create on our own

In [10]:
mylst=['sqaure','brackets','any data',1,2.0,'can contain a list itself',[1,2,'lol']]

In [11]:
mylst

['sqaure',
 'brackets',
 'any data',
 1,
 2.0,
 'can contain a list itself',
 [1, 2, 'lol']]

<img src="https://i.imgur.com/t0kFZtt.png">

# List Constructor Function
<b><pre>The list() function can be used to construct a list from an iterable; this means
that it can construct a list from a Tuple, a Dictionary or a Set. It can also
construct a list from anything that implements the iterable protocol.
The signature of the list() function is
     <u>list(iterable)<u>

In [12]:
vowels=('a','e','i','o','u')

In [13]:
vowel_list=list(vowels)
vowel_list

['a', 'e', 'i', 'o', 'u']

# ACCESSING ELEMENTS FROM A LIST
<pre>Now we have a way to represent a list of data in a single variable: enclosing the list in 
brackets, separating elements by commas. But we need some way to get at the individual 
elements in the list. The way we do that is to use the following syntax:
<b>listVariable[index]</b></pre>

This syntax results in the value of the element in the list at the given index. Letâ€™s 
assume a list of numbers defined with this assignment statement:

In [14]:
numbersList = [20, -34, 486, 3129]

In [15]:
numbersList[0]

20

In [16]:
numbersList[1]

-34

In [17]:
numbersList[2]

486

In [18]:
numbersList[3]

3129

<img align="left" src="https://i.imgur.com/Jon3wX7.png">

# NEGATIVE INDEXING

In [19]:
a=[12,23,34,45,56]

<b><pre>In addition to indices starting at 0 and going up to the number of elements minus 1,
there is another way to index elements in a list. Python allows you to use negative 
integers as indices to a list. A negative index means to count backwards from the end, 
the end being the number of elements in the list. Here are the positive and equivalent 
negative indices for a list of five elements:</pre></b>

In [20]:
a

[12, 23, 34, 45, 56]

<TABLE align="left" style="border: 4px solid black;text-align: centre">
   <TR>
      <TD style="border: 4px solid black;background-color:powderblue"><b>Positive Indexing</b></TD>
      <TD style="border: 4px solid black;background-color:powderblue;"><b>Negative Indexing</b></TD>
      <td style="border: 4px solid black;background-color:powderblue;"><b>Element</b></td>
   </TR>
   <TR>
      <TD style="border-right: 4px solid black">0</TD>
      <TD style="border-right: 4px solid black">-5</TD>
       <td>12</td>
   </TR>
   <TR>
      <TD style="border-right: 4px solid black">1</TD>
      <TD style="border-right: 4px solid black">-4</TD>
       <TD>23</TD>
   </TR>
    <tr>
        <TD style="border-right: 4px solid black">2</TD>
        <TD style="border-right: 4px solid black">-3</TD>
        <TD>34</TD>
    </tr>
    <tr>
        <TD style="border-right: 4px solid black">3</TD>
        <TD style="border-right: 4px solid black">-2</TD>
        <TD>45</TD>
    </tr>
    <tr>
        <TD style="border-right: 4px solid black">4</TD>
        <TD style="border-right: 4px solid black">-1</TD>
        <TD>56</TD>
    </tr>
</TABLE>

In [21]:
a[0],a[-5]

(12, 12)

In [22]:
a[1],a[-4]

(23, 23)

In [23]:
a[2],a[-3]

(34, 34)

# SLICING

<b><pre>You can grab sections of a sequence using slices. Slicing is used to fetch multiple items from a  
sequence. Slices are written using the same notation as an index, but this time with two or three integers  
separated by colons. The first value is the inclusive starting point and the second number is the exclusive  
end point of the slice. So a[0:2] means that the slice will start from index 0 and stop just before index 2</pre></p>

In [24]:
a[0:2]

[12, 23]

In [25]:
a

[12, 23, 34, 45, 56]

In [26]:
#look it fetched 1st and 2nd value which are at index 0 and 1 and not 2 which is exclusive

<b><pre>
      0    1     2    3    4       ----+>POSITIVE INDEXING
    +----+----+----+----+----+
    | 12 | 23 | 34 | 45 | 56 |
    +----+----+----+----+----+
      -5   -4   -3   -2   -1       ----+>NEGATIVE INDEXING</pre></b>

In [27]:
a[1:-1]

[23, 34, 45]

In [28]:
#look carefully it fetched items starting index 1 and index 2 and index 3 but not index 4 because it actually is -1 th index 
#and which is exclusive so it will end there

# STRIDING

<b><pre>The third value is optional and specifies an additional step value, which may be negative, so instead  
of picking out a sequential list, you can retrieve every other, or every nth item, and you can also retrieve  
them backward if you need to. So s[i:j:step] will retrieve a slice of s starting from i and up to, but not  
including j, and taking the specified step.</pre></b>

In [29]:
a[::2] #gets you every second element

[12, 34, 56]

In [34]:
a[1::2] #gets u every 2nd number from index 1

[23, 45]

In [31]:
a[:4:3] #gets you every third number upto 4th index

[12, 45]

In [32]:
a

[12, 23, 34, 45, 56]

In [36]:
a[:4:3]

[12, 45]

In [37]:
a[1:4:3]

[23]

<b>If the starting point, i, is equal to or greater than end point, j, the slice you get back will be empty.</b>

In [38]:
a[4:4]

[]

In [39]:
a[4:3]

[]

In [40]:
a[-1:-5]

[]

In [41]:
a[::-1] #if step size is negative it will print from reverse ...

[56, 45, 34, 23, 12]

In [42]:
a[:3:-1]

[56]

In [59]:
a[:1:-1]

[56, 45, 34]

In [60]:
a[:-4:-1]

[56, 45, 34]

In [61]:
a

[12, 23, 34, 45, 56]

# OPERATIONS ON LIST

## 1) .append(value) 
inserts value at the end of the list , it wont just make a copy and change it changes the actual list list

In [62]:
op_list=[1,3,5]

In [64]:
op_list

[1, 3, 5]

In [65]:
op_list.append(6)

In [66]:
op_list

[1, 3, 5, 6]

In [67]:
#look 6 is added at the end

## 2).extend(iterable) 
 inserts each item in iterable at the end of list

In [68]:
op_list.extend(6)

TypeError: 'int' object is not iterable

In [69]:
#because number is not iterable

In [70]:
op_list.extend('1234')

In [71]:
op_list

[1, 3, 5, 6, '1', '2', '3', '4']

In [72]:
#each character in string is added to list at the end

In [73]:
op_list.extend([9,8,0,6])

In [74]:
op_list

[1, 3, 5, 6, '1', '2', '3', '4', 9, 8, 0, 6]

In [75]:
#it is same as concatanating list with another list
[1,2,33,44]+[2,3,88,99]

[1, 2, 33, 44, 2, 3, 88, 99]

## 3).sort(reverse=False)

In [76]:
op_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [77]:
int_lst=[1, 2, 33, 9, 5, 3, 88, 69]
int_lst.sort()

In [78]:
int_lst

[1, 2, 3, 5, 9, 33, 69, 88]

In [80]:
#it sorted in asceneding order
#what if we need it to be in descending order
int_lst.sort(reverse=True)

In [81]:
int_lst

[88, 69, 33, 9, 5, 3, 2, 1]

In [85]:
str_list=['python','java','c plus plus','c sharp']

In [86]:
str_list.sort()
str_list

['c plus plus', 'c sharp', 'java', 'python']

In [87]:
#it is sorted in alphabetical order

In [88]:
str_list.sort(key=len)
str_list

['java', 'python', 'c sharp', 'c plus plus']

In [89]:
str_list.sort(key=len,reverse=True)
str_list

['c plus plus', 'c sharp', 'python', 'java']

In [93]:
import random
def randumnumber(*i):
    a=random.randint(3, 9)
    print(a)
    return a
str_list.sort(key=randumnumber,reverse=True)
str_list

7
4
5
9

['c sharp', 'c plus plus', 'java', 'python']

In [94]:
import random
def randumnumber(*i):
    a=random.randint(3, 9)
    print(a)
    return a
str_list.sort(key=randumnumber,reverse=True)
str_list

4
7
6
7

['c plus plus', 'python', 'java', 'c sharp']

In [95]:
import random
def randumnumber(*i):
    a=random.randint(3, 9)
    print(a)
    return a
str_list.sort(key=randumnumber,reverse=True)
str_list

5
9
9
4

['python', 'java', 'c plus plus', 'c sharp']

In [96]:
#will dicuss all other methods on other day