<h1 style="color:#123ade">Day 8 of #100daysofcodingchallenge </h1><br>
Date:18-01-2021<br>

# COLLECTION DATA TYPES
LETS START WITH TUPLES

<p><pre style="font-size:18px;color:midnightblue">A tuple is an ordered sequence of zero or more object references. Tuples
support the same slicing and striding syntax as strings. This makes it easy to
extract items from a tuple. Like strings, tuples are immutable, so we cannot
replace or delete any of their items.</pre></p>

In [1]:
#string is just a sequence of character stuff where tuples and lists are collection of any 
#data type items it may contain the same data type itself
a=(1,2.0,'c','string',True)

In [2]:
a

(1, 2.0, 'c', 'string', True)

In [3]:
b=(1,'s',(1,'string'))

In [4]:
b

(1, 's', (1, 'string'))

## look at the image below
<img src="tuple.jpg">

In [5]:
#see a tuple is created and in the last index it has another tuple
#let us now see how to access it
print(type(b)) #its a tuple

<class 'tuple'>

In [6]:
b[0] #look at the picture its 1 right

1

In [7]:
b[1] #look at the picture its 's'

's'

In [8]:
type(b[1]) #returns class str

str

In [9]:
b[2] # is it 1 ? or 'string'? lets see

(1, 'string')

In [10]:
#you see its both.. wanna see what type it is?
type(b[2])

tuple

In [11]:
#then how to access sub tuple 
b[2]

(1, 'string')

In [12]:
#imagine b[2] is variable which holds a tuple data now as accessed before lets access it remember imagine b[2] as variable
b[2][0]

1

In [13]:
#similarly
b[2][1]

'string'

In [15]:
#now b[2][0] is string how to get first 3 characters from string which is in tuple b's sub tuple 
#assume b[2][0] as also a variable
b[2][1][:3]

'str'

In [16]:
#see you got first 3 letters of string "string" which is in tuple of another tuple

# Note

In [17]:
a=(1)

In [18]:
a

1

In [19]:
type(a)

int

In [20]:
#its not tuple

<p><pre style="font-size:18px;color:midnightblue">It is important to remember to use a trailing comma
when creating a tuple with one element,
  for example: 
       a = (1,) 
Without the trailing comma, this would be interpreted as a string.</pre></p>

In [21]:
a=(1,)

In [22]:
a

(1,)

In [23]:
type(a)

tuple

In [24]:
#its a tuple now

<p><pre style="font-size:18px;color:midnightblue">We can also create a tuple using the built-in function tuple(). 
With no argument, this creates an empty tuple. If the argument to tuple() is a sequence 
then this creates a tuple of elements of that sequence, 
    for example:</pre></p>

In [25]:
tuple('abcdefgh"lol"')

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', '"', 'l', 'o', 'l', '"')

In [27]:
len('abcdefgh"lol"')

13

len(tuple('abcdefgh"lol"'))

In [29]:
tuple(123) #you are not allowed to pass integers as it is not collection datatype

TypeError: 'int' object is not iterable

# Tuple Slicing
works same as strings

In [31]:
b

(1, 's', (1, 'string'))

In [32]:
b[:2] #first two elements

(1, 's')

In [33]:
b[1:3] # 2nd and 3rd elements

('s', (1, 'string'))

In [34]:
b[2][:1] #first element in subtuple

(1,)

In [35]:
b[2][1:2]

('string',)

In [36]:
#b[2][1] is indexing and where b[2][1:2] slicing slices the data copy

<p><pre style="font-size:18px;color:darkblue">An important use of tuples is to allow us to assign more than one variable 
at a time by  placing a tuple on the left-hand side of an assignment,
for example:</pre></p>

In [37]:
a=(1,2)

In [38]:
x,y=a

In [39]:
x

1

In [40]:
y

2

In [41]:
#what if a has multiple elements?

In [45]:
a=(1,2,3,4)

In [47]:
x,y=a

ValueError: too many values to unpack (expected 2)

In [48]:
#it cant unpack 
#lets see how to unpack
x,y,*z=a

<img src="unpacking.png">

In [49]:
x #first value of a is assigned to x

1

In [50]:
y #second value of a is assigned to y

2

In [52]:
z # * before z packs all the other values to z .. means stores multiple values which are not not assigned to previous 
#variables as list

[3, 4]

In [53]:
#we will talk about lists later