<h1 style="color:#123ade">Day 9 of #100daysofcodingchallenge </h1><br>
Date:19-01-2021<br>

# More About Tuples

### COMPARING TUPLES

<p><pre style="font-size:18px;color:midnightblue">The comparison operators work with tuples and other sequences. Python starts by
comparing the first element from each sequence. If they are equal, it goes on to the
next element, and so on, until it finds elements that differ. Subsequent elements
are not considered (even if they are really big).</pre></p>

In [1]:
(1,2,6)<(1,3,6)

True

In [3]:
(0,2,10000)<(0,3,0)

True

In [4]:
#you cant change tuple values but you can be able to take portions of existing tuples and concatanete and do stuff we need
vowels=('a','e','i','o','u','you')
#OMG 'you' isnt a vowels what do we do now?
vowels=vowels[:5]

In [5]:
vowels

('a', 'e', 'i', 'o', 'u')

In [6]:
#done removed
#and now lets insert a char to it using concatanation
alphas=vowels[0:2]+('ab',)+vowels[2:]
alphas

('a', 'e', 'ab', 'i', 'o', 'u')

In [7]:
#wow 
#what if we no longer need tuple
del vowels
print('deleted successfully')

deleted successfully

In [8]:
vowels

NameError: name 'vowels' is not defined

In [9]:
#in operator
3 in (1,2,'3')

False

In [10]:
'3' in (1,2,'3')

True

# BUILT IN FUNCTIONS

<b>1) len(tuple) ..... return length of tuple</b>

In [13]:
t1=(1,2,'3')
len(t1)

3

<b>1) max(tuple) or min(tuple) ..... return max or min value of tuple respectively</b>

In [14]:
t2=(1,2,3)

In [15]:
print(max(t1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
#it cant return you a value because not all are in same data type
print(max(t2))

3

In [18]:
print(min(t2))

1

# Multiplying Tuples

In [19]:
m=(1,2)
m*2

(1, 2, 1, 2)

In [20]:
m*m

TypeError: can't multiply sequence by non-int of type 'tuple'

3).count() takes value as argument and returns no of times a number appeared in tuple

In [22]:
a=(1,2,3,3,4,5,5,4,3,3,2,1)

In [23]:
a.count(1)

2

In [24]:
a.count(2)

2

In [25]:
a.count(3)

4

In [26]:
a.count(4)

2

In [27]:
a.count(5)

2

In [28]:
a.count(6)

0

4) .index() takes value as argument and searches for first occurance of that value

In [29]:
a.index(4)

4

In [30]:
a.index(3)

2