<h1 style="color:darkblue">Day 3 of #100daysofcodingchallenge </h1><br>
Date:13-01-2021<br>
Before learning more about variables lets know about comments

## PYTHON DATA TYPES

In [4]:
#first data type is int
a=12
print(type(a))

<class 'int'>

### In Python, once a value has been assigned to a variable, the interpreter will then decide what sort of value it is (i.e., a number, some text, or some other relevant quality). This is known as dynamic typing (it has nothing to do with how many words per minute you can input from the keyboard). Unlike some other languages, it is not necessary to declare what your variables are before you use them.

In [7]:
b=12.8
print(type(b))
c="Set of chars"  #set of characters is a string so it of type str
print(type(c))
d='c'   #even a single character is of type str
print(type(d))

<class 'float'>
<class 'str'>
<class 'str'>

## Although Python variables can store data of any data type, it is important torecognize the different types of data they contain to avoid errors when manipulating that data in a program. There are several Python data types but by far the most common ones are str (string), int (integer), and float (floating-point).

In [8]:
#even the boolean
e=False
print(type(e))

<class 'bool'>

# TYPE CASTING

<pre>For example ‘8’ + ‘4’ = ‘84’.
Fortunately, the data type of stored values can be easily converted (“cast”) into a
different data type using built-in Python functions. The value to be converted is
specified within the parentheses that follow the function name. Casting str
(string) values to become int (integer) values allows them to be used for
arithmetical expressions, for example, <u>8 + 4 = 12.</u></pre>

<img src="https://i.imgur.com/O1CCFWs.jpg" alt="python data types">

In [12]:
#lets try
x=12.1
print(x,type(x))
y=int(x)
print(y,type(y))

12.1 <class 'float'>
12 <class 'int'>

In [13]:
#12.1 which is float data type converted to int data type and stored in y

In [14]:
x='12.1'
print(x,type(x))
y=int(x)
print(y,type(y))

12.1 <class 'str'>

ValueError: invalid literal for int() with base 10: '12.1'

In [15]:
#it cant convert float data in string directly to int

In [16]:
x='12'
print(x,type(x))
y=int(x)
print(y,type(y))
#this works though

12 <class 'str'>
12 <class 'int'>

In [17]:
x='12.1'
print(x,type(x))
y=float(x)
print(y,type(y))

12.1 <class 'str'>
12.1 <class 'float'>

In [19]:
#see the same code which we got error when we try to convert to int from string which 
#is float but here we are converting string which is float to float

In [20]:
x=12.1
print(x,type(x))
y=str(x)
print(y,type(y))

12.1 <class 'float'>
12.1 <class 'str'>

In [24]:
chr(1)

'\x01'

In [27]:
#unichr may not work

In [29]:
ord('c')

99

In [30]:
print(c)
print(ord(c))

Set of chars

TypeError: ord() expected a character, but string of length 12 found

### think before passing parameters

#### c is a variable where 'c' is a character which is enclosed in quotes

In [31]:
#to hexadecimal 
x=12
hex(x)

'0xc'

In [32]:
#to octal
x=12
oct(x)

'0o14'

<h1 style="color:navy">End Of Day2</h1>
<h3><pre style="color:darkgreen;">          ---- D GIREESH @dg <pre></h3>